body {
    background-color: #292D3E;
}

#editorName, #consoleName {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: black;
    color: whitesmoke;
}

#srcArea {
    display: inline-block;
    width: 100%;
    min-height: 165px;
    max-height: 165px;
    background-color: inherit;
    overflow: scroll;
}

#srcCode {
    display: inline-block;
    width: inherit;
    min-height: inherit;
    padding-left: 4px;
    padding-right: 0px;
    background-color: inherit;
    /*color: papayawhip;*/
    color: #959DCB;
    border: none;
    font-size: 17px;
    font-weight: 300;
    font-family: Monospaced, monospace;
}

#console {
    width: 97%;
    height: 70px;
    padding-right: 2px;
    background-color: inherit;
    color: lightblue;
    border: none;
    font-size: 14px;
    font-weight: 300;
    font-family: Monospaced, sans-serif;
    cursor: text;
    flex-shrink: 0;
}

*:focus {
    outline: none;
}
/*-------------------- Code Highlighting -------------------*/

.string {
    color: greenyellow;
}

.variable {
    color: darkorange;
}

.standardFunc {
    color: blueviolet;
}

/*-------------------- Soft Keys -------------------*/

#softkeys {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: #dadada;
    padding-left: 5px;
    padding-right: 5px;
}

#softkeys > * {
    display: inline-block;
    width: 72px;
    font-weight: 400;
    color: #323232;
}

#softkey-left {
    text-align: left;
    font-size: 14px;
}

#softkey-right {
    text-align: right;
    font-size: 14px;
}

#softkey-center {
    width: 76px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

