body {
    background-color: #221F42;
    horiz-align: center;
}

#editorName, #consoleName {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: black;
    color: whitesmoke;
}

#srcCode {
    width: 97%;
    height: 165px;
    padding-right: 2px;
    padding-left: 4px;
    background-color: inherit;
    color: papayawhip;
    border: none;
    font-size: 17px;
    font-weight: 300;
    font-family: Monospaced, monospace;

}

#console {
    width: 97%;
    height: 70px;
    padding-right: 2px;
    padding-left: 4px;
    background-color: inherit;
    color: lightblue;
    border: none;
    font-size: 14px;
    font-weight: 300;
    font-family: Monospaced, sans-serif;

}

#softkeys {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 25px;
background: #dadada;
padding-left: 5px;
padding-right: 5px;
}

#softkeys > * {
display: inline-block;
width: 72px;
font-weight: 400;
color: #323232;
}

#softkey-left {
text-align: left;
font-size: 14px;
}

#softkey-right {
text-align: right;
font-size: 14px;
}

#softkey-center {
width: 76px;
font-size: 16px;
font-weight: 600;
text-align: center;
}

