
body {
    height: 245px;
}

#srcCode {
    width: 97%;
    height: 242px;
    padding-right: 2px;
    padding-left: 4px;
    background-color: inherit;
    color: ghostwhite;
    border: none;
    font-size: 16px;
    font-weight: 300;
    font-family: Monospaced, monospace;

}